/* Fonts */
@import 'site.css';
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
}
/* For all */
:root {
  --accent-color: #51189A;
  --gray-color: rgb(196, 196, 196);
  --index: calc(1vw + 1vh);
  --border-radius: 10px;
  --font-color-primary: black;
  --font-color-secondary: white;
}
/* Common */
body {
  font-family: 'Ubuntu', 'Lato', sans-serif;
  font-size: calc(var(--index)*.7);
}
h1, h2, h3, h4, h5, h6, p { 
  top: 20px;
  position: relative;
  text-align: center;
  margin: 10px;
  word-wrap: break-word;
}
a {
  text-decoration-line: none;
  
}
.center {
  text-align: center;
}
.text {
  color: var(--font-color-primary);
}
.text-secondary {
  color: var(--font-color-secondary);
}
/* Navigation bar */
.navbar {
  height: calc(var(--index) * 2.5);
  width: 100%;
  padding: 10px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  font-family: 'Ubuntu';
  font-size: calc(var(--index)*.9);

  box-shadow: 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
ul.navbar-nav{
  display: flex;
  flex-direction: row;
  list-style-position: outside;
  list-style-type: none;
}
.navbar-nav > .nav-link {
  display: table-cell;
  vertical-align: middle;
}
.nav-link {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  /* padding-left: 20px; */
  
  text-align: center;
  color: white;
}
.nav-link:hover {
  color: var(--gray-color);
}
/* Footer */
footer.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(var(--index) * 2.5);
  width: 100vw;
  background-color: var(--accent-color);
}
footer > * {
  display: table-cell;
  vertical-align: middle;
}
/* Controls */
/* Container */
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
/* Button */
.btn {
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  min-width: calc(var(--index));
  min-height: calc(var(--index));
  color: white;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  font-family: 'Ubuntu-Bold';
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1); */
}
.btn:hover {
  color: var(--gray-color);
}
/* Card */
.card {
  position: relative;
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  
  margin: 10px;
  padding: 10px;
  
  border-radius: var(--border-radius);
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
.card > * {
  min-width: 100px;
  vertical-align: middle;
  display: flex;
  margin: 20px;
  text-align: center;
  flex: 0 0 calc(20% - 40px);
}
.card > .btn {
  position: relative;
  display: block;
  top: 10px;
  bottom: 10px;
}
.card-min {
  max-width: calc(var(--index) * 15);
}
