* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: #74C7C7;
  --color2: #56C7C7;
  --color3: #0B5C5C;
  --color4: #2E6B6B;
  --color5: #238E8E;
  --a-color1: #F6BE90;
  --a-color2: #F6AA6B;
  --a-color3: #9A5013;
  --a-color4: #B27B4D;
  --a-color5: #ED8B3A;
}
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
  top: 10px;
  position: relative;
  text-align: center 
}
a {
  text-decoration-line: none;
}
.center {
  text-align: center;
}
.navbar {
  display: block;
  top: 40px;
  position: relative;
  border: #000000;
  border-radius: 1px;
  
}

.btn {
  width: 130px;
  height: 40px;
  color: black;
  background-color: var(--color1);
  font-weight: 700;
  border-radius: 9px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1); */
}