
$navbar-min-height: 2.5rem;
$footer-height: 4rem;
$body-background-image: url("../img/water-bg-4.jpg");

$element-corner-radius: 10px;
$navbar-height: 2.5rem;
$footer-height: 2.5rem;
$accent-color: #345cb1;
// $navbar-background: $accent-color;
// $footer-background: $navbar-background;

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'Acrobat';
  src: url('../fonts/Acrobat/Akrobat-SemiBold.otf');
}
@font-face {
  font-family: 'Acrobat-bold';
  src: url('../fonts/Acrobat/Akrobat-ExtraBold.otf');
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta/AvertaDemoPE-Regular.otf');
}
$font-family: 'Averta', 'Ubuntu', Arial;
$headers-font-family: 'Acrobat', 'Ubuntu', Arial;
$h1-font-family: 'Acrobat-bold', 'Ubuntu', Arial;
$font-size: meduim;
$font-color: black;
@import 'utils/variables';
@import 'elements/body';


/* h1 {
  font-family: 'Acrobat-bold';
}
h2, h3, h4, h5, h6 {
  font-family: 'Acrobat';
}
p, q, a {
  font-family: 'Averta';
} */

