@import '../utils/reset';
@import '../utils/variables';


@import 'main';

header, 
main,
footer {
    display: block;
    position: absolute;
    width: 100%;
    padding: 0;
}
header {
    top: 0;
    height: $navbar-height;
    overflow: hidden;
}
main {
    top: $navbar-height;
    bottom: $footer-height;
    overflow: auto;
}
footer {
    bottom: 0;
    height: $footer-height;
    overflow: hidden;
}
body {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
  background-color: $body-background-color;
  background-image: $body-background-image;
}
