$card-margin: 10px;
.card {
  position: relative;
  display: inline-block;
  min-width: 2rem;
  min-height: 100px;
  vertical-align: top;
  margin: $card-margin;
  padding: 10px;
  
  background-color: white;
  border-radius: $element-corner-radius;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  > * {
    min-width: 80px;
    vertical-align: middle;
    display: flex;
    margin: 1rem;
    text-align: center;
    flex: 0 0 calc(20% - 40px);
  }
  > h2, h3, h4, h5, h6 {
    text-align: center;
  }
  > p {
    text-align: left;
  }
  > .btn {
    position: relative;
    display: block;
    top: 10px;
    bottom: 10px;
  }
  max-width: calc(100% - 2 * $card-margin - 3px);
  overflow: auto;
}

.card[size=min] {
  @extend .card;
  width: fit-content;
  max-width: calc(50% - 2 * $card-margin - 3px);
  max-height: 20rem;
}
/* @media (max-width: 400px) {
  .card > h2 {
    font-size: medium;
  }
} */
