$card-margin: 10px;
.card {
  position: relative;
  display: inline-block;
  min-width: 2rem;
  min-height: 100px;
  vertical-align: top;
  margin: $card-margin;
  padding: .4rem;
  
  border-radius: $element-corner-radius;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  > * {
    min-width: 80px;
    vertical-align: middle;
    display: flex;
    margin: 1rem;
    text-align: left;
    flex: 0 0 calc(20% - 40px);
  }
  > h2, h3, h4, h5, h6 {
    text-align: center;
  }
  > p {
    text-align: left;
  }
  height: fit-content;
  width: fit-content;
  max-width: calc(100% - 2 * $card-margin - 3px);
  overflow: auto;
  background-color: rgba($color: #ffffff, $alpha: .93)
}

.card[size="small"] {
  @extend .card;
  max-width: calc(50% - 2 * $card-margin - 3px);
  max-height: 20rem;
}
.card[size="middle"] {
  @extend .card;
  max-width: calc(80% - 2 * $card-margin - 3px);
}
@media (max-width: 400px) {
  .card[size="middle"] {
    max-width: calc(100% - 2 * $card-margin - 3px);
    @extend .card;
  }
}
