@import '../utils/reset';
@import '../utils/variables';

main {
    top: $navbar-height;
    font-family: $font-family;
}
@media (min-height: 400px) {
    main {
        text-align: center;
        // justify-content: center;
    }
}
