@import '../utils/reset';
@import '../utils/variables';

a {
    text-decoration-line: none;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

h4 {
    font-size: large;
}
p, a, q {
    font-size: medium;
}
h1, h2, h3, h4 {
    text-shadow: white 0px 0px 2px;
}
.text {
  color: $font-color;
  text-align: center;
  position: relative;
  margin: .3rem;
}
.text-secondary {
    @extend .text;
    color: $font-color-secondary;
}
.link-secondary {
    @extend .text-secondary;
    color: $link-secondary-font-color;
}
.link-secondary:hover {
    color: lightgrey;
}
.list {
    text-align: left;
    li {
        margin-top: .5rem;
    }
}
.marked-list {
    li:before {
        content: '●';
    }
}
ul.list-vertical {
    @extend .list;
    flex-direction: column;
    
}
@media (max-width: 400px) {
    h1 {
        font-size: x-large;
    }
    h2 {
        font-size: larger;
    }
    h3 {
        font-size: large;
    }
    h4 {
        font-size: medium;
    }
    p, a, q {
        font-size: small;
    }
}
